/* .aboutContainer {
  background-color: black;
  color: white;
} */
.aboutWrapper {
  height: 100%;
  width: 100%;
  background-color: teal;
  color: rgb(226, 215, 215);
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.title {
  color: rgb(226, 215, 215);
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.aboutContainer {
  position: relative;
  top: 55px;
  padding-bottom: 35px;
}

.top {
  padding-top: 5px;
  margin-top: 10px;
}

a {
  color: yellow;
}

a:hover {
  color: black;
}
