/* .aboutContainer {
  background-color: black;
  color: white;
} */

.grid {
  margin-top: 100px;
  color: white;
  position: relative;
  top: 30px;
}

.ui.grid > .ui.grid:last-child {
  margin-bottom: 2em;
}

.ui.grid h3 {
  padding-left: 0;
}
