.logoutButton {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logoutButton button {
  background-color: green;
  color: white;
  border: 2px solid #fff;
  width: 100%;
  margin-top: 1em;
  padding: 8px 0px;
  font-size: 1em;
  font-weight: lighter;
  letter-spacing: 1px;
  margin-bottom: 0.25em;
}

.removeButton {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.removeButton button {
  background-color: #ffd900;
  color: black;
  border: 2px solid #fff;
  width: 100%;
  margin-top: 1em;
  padding: 8px 0px;
  font-size: 1em;
  font-weight: lighter;
  letter-spacing: 1px;
  margin-bottom: 0.25em;
}
